<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target xsi:type="File" name="All" fileName="Log\All\${shortdate}.htm"  layout="&lt;HR COLOR=red&gt;${longdate}&lt;BR&gt;${logger}&lt;BR&gt;${uppercase:${level}}&lt;BR&gt;${message} ${exception}&lt;HR Size=1&gt;" />
    <target xsi:type="File" name="Error" fileName="Log\Error\${shortdate}.htm" layout="&lt;HR COLOR=red&gt;【异常时间】：${date} &lt;BR&gt;【异常级别】：${level:uppercase=true} &lt;BR&gt;${message}&lt;HR Size=1&gt;" />
    <target xsi:type="File" name="Info" fileName="Log\Info\${shortdate}.htm" layout="&lt;HR COLOR=red&gt;【操作时间】：${date} &lt;BR&gt;【操作级别】：${level:uppercase=true} &lt;BR&gt;${message}&lt;HR Size=1&gt;" />
    <target xsi:type="File" name="Debug" fileName="Log\Debug\${shortdate}.htm"  layout="&lt;HR COLOR=red&gt;【操作时间】：${date} &lt;BR&gt;【操作级别】：${level:uppercase=true} &lt;BR&gt;${message}&lt;HR Size=1&gt;" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="All" />
    <logger name="*" minlevel="Error" writeTo="Error" />
    <logger name="*" minlevel="Info" writeTo="Info" />
    <logger name="*" minlevel="Debug" writeTo="Debug" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>